/* --------------------
        fonts
---------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* -------------------
        top portion
----------------------*/
.container {
    display: flex;
    justify-content: center;
}

.head {
    display: flex;
    width: 1321px;
    height: 646px;
    background-color: black;
    border-radius: 30px;
    justify-content: center;
}

.head:hover {
    background-color: blue;
    border: 3px solid red;

}

.top-section {
    padding-top: 80px;
    padding-left: 90px;

}


.top-title {
    font-size: 70px;
    font-weight: bold;
    color: white;

}

.top-text {
    font-size: 16px;
    color: white;
}

.live-button {
    height: 40px;
    width: 120px;
    background-color: red;
    padding-left: 18px;
    padding-top: 18px;
    border-radius: 5px;
    margin-top: 20px;
    color: white;
}

.live-button:hover {
    border: 4px solid white;
}


.banner-image {
    width: 581px;
    height: 613px;
    margin-left: 20px;
    padding-top: 33px;
}

/* -------------------
        Nav buttons
----------------------*/

.mid {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 700px;
}

.nav {
    float: left;
    background-color: black;
    height: 312px;
    width: 312px;
    border-radius: 15px;
    position: static;
}

.button {
    text-align: center;
    color: black;
    font-weight: bold;
    margin-left: 45px;
    margin-right: 30px;
    margin-top: 30px;
    height: 40px;
    width: 220px;
    padding-top: 18px;
    background-color: white;
    border-radius: 10px;
}

.button:hover {
    border: 2px solid red;
}

.s-button:hover {
    border: 2px solid white;
}

.s-button {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-left: 45px;
    margin-right: 30px;
    margin-top: 30px;
    height: 40px;
    width: 220px;
    padding-top: 18px;
    background-color: red;
    border-radius: 10px;
}

.button a {
    text-decoration: none;
    text-align: center;
    color: black;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    height: 40px;
    width: 220px;
    padding-top: 18px;
}

.s-button a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: bold;
}

/* ---------------
    Blogs design
    -------------- */

.blogs img {
    height: 175px;
    width: 312px;
}

.blogs {
    height: 362px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    justify-content: center;
}

.match-blog {
    border: 2px solid lightgray;
    padding: 20px;
    border-radius: 10px;
}

.match-blog:hover {
    border: 2px solid red;
}

.uc-match {
    display: flex;
    align-items: center;
}

.uc-match img {
    height: 56px;
    width: 93px;
}


/* footer */
.goal {
    border: 0px solid saddlebrown;
    background-color: black;
    height: 400px;
    width: 100%;
    margin-top: 50px;
}

.footer-text {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: white;
}

.footer-subtext {
    font-size: 16px;
    text-align: center;
    color: gray;
    display: flex;
    justify-content: space-evenly;
}

.icons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 90px;
    font-size: 40px;

}

.fb a {
    color: #4267B2;
}

.tweet a {
    color: #00acee;
}

.yt a {
    color: #FF0000;
}

/* ----------------------
        Media query
------------------------- */

/*------------------------------------ PC screen --------------------------------------------*/
@media screen and (min-width:992px) {
    .mobile-image {
        display: none;
    }

    .nav-tab {
        display: none;
    }

    .footer-subtext-mbl {
        display: none;
    }

}

/* -----------------------------------Tablet screen------------------------------------------ */

@media only screen and (min-width:688px) and (max-width:992px) {
    .container {
        flex-direction: column;
    }

    .head {
        display: flex;
        width: 100%;
        height: 1000px;
        background-color: black;
        border-radius: 30px;
        justify-content: center;
    }

    .banner-image {
        width: 100%;
        height: 613px;
        margin-left: 20px;
        padding-top: 33px;
    }

    .mobile-image {
        display: none;
    }

    .nav {
        display: none;
    }

    .blogs {
        height: 362px;
        width: 700px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        justify-content: center;
    }

    .mid {
        display: flex;
        flex-direction: column;
    }

    .banner-image {
        width: 70%;
        height: 613px;
        margin-left: 20px;
        padding-top: 33px;
    }

    .nav-tab {
        display: flex;
        margin-bottom: 30px;
    }

    .button {
        text-align: center;
        color: black;
        font-weight: bold;
        margin-left: 45px;
        margin-right: 30px;
        margin-top: 30px;
        height: 40px;
        width: 220px;
        padding-top: 18px;
        background-color: white;
        border-radius: 10px;
        border: 2px solid lightslategray;
    }

    .button:hover {
        border: 2px solid red;
    }

    .s-button:hover {
        border: 2px solid black;
    }

    .s-button {
        text-align: center;
        color: white;
        font-weight: bold;
        margin-left: 45px;
        margin-right: 30px;
        margin-top: 30px;
        height: 40px;
        width: 220px;
        padding-top: 18px;
        background-color: red;
        border-radius: 10px;
    }

    /* ---------------------------
              Footer Design
    ----------------------------- */
    .footer {
        margin-top: 700px;
        width: 100%;
        height: 400px;
        background-color: black;
    }

    .footer-subtext-mbl {
        display: none;
    }

    .icons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 60px;
        font-size: 40px;

    }


    .fb a {
        color: #4267B2;
    }

    .tweet a {
        color: #00acee;
    }

    .yt a {
        color: #FF0000;
    }

}

/* -----------------------------------Mobile screen------------------------------------------ */
@media only screen and (max-width:688px) {
    .container {
        flex-direction: column;
    }

    .head {
        display: flex;
        width: auto;
        height: auto;
        background-color: black;
        border-radius: 30px;
        justify-content: center;
        flex-direction: column;
    }

    .top-section {
        padding-top: 10px;
        padding-left: 10px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .banner-image {
        display: none;
    }

    .mobile-image {
        padding-top: 10px;
        padding-top: 10px;
        display: flex;
        justify-content: center;
    }

    .blogs {
        height: 362px;
        width: 700px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 10px;
        grid-column-gap: 10px;
        justify-content: center;
    }

    .nav {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .nav-tab {
        display: none;
        margin-left: auto;
        margin-right: auto;
    }

    .mid {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
    }

    .footer {
        margin-top: 1600px;
        padding-bottom: 100px;
        height: 400px;
    }

    .footer-subtext {
        display: none;
    }

    .footer-subtext-mbl {
        display: flex;
        flex-direction: column;
        color: gray;
        align-items: center;
    }

    .icons {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;
        font-size: 40px;

    }





}